
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fff 3px solid;
    padding: 10px;
    background-color: var(--primary-color);
    font-weight: bolder;
    text-decoration: none;
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: x-large;
    color: #fff;
  }
a:hover{
    cursor: pointer;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    
}
:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}
body{
    background-color: var(--primary-color);
    font-family: 'poppins', sans-serif;
    margin: 0;
}
header{
    padding: 1rem;
    display: flex;
    justify-content:space-between;
    background-color: var(--secondary-color);
    align-items: center;
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
}
header h1{
    color: #eee;
    text-shadow: 20px 20px black;
    font-weight: bold;
    font-size:350%;
}

header a:hover{
    cursor: pointer;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.container:hover{
    background-color: #ccc;
    size: 150%;
    font-weight: bold;
    font-size: large;
}


form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#social-media ul {
    list-style: none;
    padding: 0;
}

#social-media li {
    margin-bottom: 10px;
}

#social-media a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #22254b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
footer {
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    color: #fff;
    text-align: center;
    padding: 10px 0;
}




